*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#24f18e;
    color:#333;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#8b99f0;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:0.3s;
}

nav ul li a:hover{
    color:#c21616;
}

/* HOME SECTION */
.home{
    text-align:center;
    padding:80px 20px;
    background:rgb(20, 171, 103);
}

.profile-pic{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #ff0000;
    margin-bottom:20px;
}

.home h1{
    font-size:38px;
}

.home span{
    color:#00bfff;
}

.home p{
    margin-top:10px;
    font-size:18px;
    color:#000000;
}

/* ABOUT */
.about{
    padding:70px 20px;
    text-align:center;
    background:#f4f6f9;
}

.about h2{
    margin-bottom:20px;
    font-size:28px;
}

.about p{
    max-width:700px;
    margin:10px auto;
    line-height:1.7;
    color:#555;
}

/* SKILLS */
.skills{
    padding:70px 20px;
    text-align:center;
    background:rgb(9, 178, 119);
}

.skills h2{
    margin-bottom:40px;
}

.skill-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:40px;
    justify-items:center;
}

.skill-box{
    background:#f4f6f9;
    width:200px;
    height:200px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.skill-box:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.skill-img{
    width:60px;
    margin-bottom:15px;
}

/* SOCIAL SECTION */
.social{
    background:rgb(102, 155, 52);
    text-align:center;
    padding:60px 20px;
    color:white;
}

.social h2{
    margin-bottom:20px;
}

.social-icons a img{
    width:50px;
    margin:0 15px;
    background:white;
    padding:10px;
    border-radius:50%;
    transition:0.3s;
}

.social-icons a img:hover{
    transform:scale(1.2);
}

/* CONTACT SECTION */
.contact{
    background:#111;
    padding:70px 20px;
    text-align:center;
    color:white;
}

.contact h2{
    margin-bottom:30px;
}

.contact input,
.contact textarea{
    width:80%;
    max-width:500px;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:5px;
    background:#fffbfb;
    color:rgb(0, 0, 0);
}

.contact input:focus,
.contact textarea:focus{
    outline:2px solid #00bfff;
}

.contact button{
    margin-top:10px;
    padding:12px 25px;
    border:none;
    border-radius:5px;
    background:#00bfff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.contact button:hover{
    background:#008ecc;
}

/* FOOTER */
footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}
